@charset "UTF-8";

:root {
  --cor0: #127369;
  --cor1: #10403b;
  --cor2: #8aa6a3;
  --cor3: #4c5958;
  --cor4: #bfbfbf;
  --font-noto: "Noto Serif JP", serif;
  --font-anton: "Anton", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}


@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: transparent;
  }
  #containerLinhas {
    display: none;
  }
  .nav > ul {
    display: flex;
    background-color: transparent;
    /* gap: 20px; */
    letter-spacing: 3px;
  }
  .nav > ul > li {
    color: rgb(220, 220, 220);
  }
  .linhaFaded {
    width: 0%;
    height: 2px;
    background-color: var(--cor0);
    margin: auto;
  }
  .onMouseA {
    animation: linhaFaded 300ms ease-in-out forwards;
  }
  .outMouseA {
    animation: linhaFadedOut 300ms ease-in-out forwards;
  }
  @keyframes linhaFaded {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  @keyframes linhaFadedOut {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
  .containerAOpcoes {
    opacity: 0;
    max-height: 500px;
    max-width: 500px;
    transition: 150ms ease-in-out;
    overflow: hidden;
    position: absolute;
    background-color: var(--cor0);
    transform: translateY(20px);
    padding: 15px;
    pointer-events: none;
  }
  .aOpcoes {
    padding: 30px 0px;
  }
  .aOpcoes:hover ~ .containerAOpcoes {
    pointer-events: auto;
    opacity: 1;
  }
  .espaçoInvisivel:hover ~ .containerAOpcoes {
    pointer-events: auto;
    opacity: 1;
  }
  .containerAOpcoes:hover {
    pointer-events: auto;
    opacity: 1;
  }
  .containerAOpcoes > a {
    text-decoration: none;
    color: inherit;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.350);
    letter-spacing: 1px;
    display: grid;
    padding: 5px;
  }
  #columNav {
    display: none;
  }
  main {
    margin: 0;
  }
  .containerDivInContainerBackground {
    width: 70%;
  }
  .linkBackground {
    display: inline-flexbox;
    width: 100px;
    margin: auto;
    transition: 300ms;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
  }
  .linkBackground:hover {
    transform: scale(1.1);
    background-color: lightgray;
  }
  .container-info > span {
    display: none;
  }
  .container-info > .paragrafo-card {
    padding: 30px 15px;
  }
  .section2 {
    min-height: 100vh;
    background-color: #284D49;
    padding: 50px;
    font-family: var(--font-noto);
  }
  #slider-1, #slider-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
  }
  .cards {
    color: white;
    font-size: 1.2em;
    text-align: center;
  }
  .cards > img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
  }
  .slider-pc {
    display: none;
  }
  .box-img {
    justify-self: center;
    border-radius: 20px;
  }
  .box-section-3 > a {
    transition: 300ms;
    margin: auto;
  }
  .box-section-3 > a:hover {
    transform: scale(1.2);
  }
}