@charset "UTF-8";

/* 
    font-family: 'Noto Serif JP', serif;
    font-family: 'Anton', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #127369;
    --cor1: #10403B;
    --cor2: #8AA6A3;
    --cor3: #4C5958;
    --cor4: #BFBFBF;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    background-color: gray;
    width: 100%;
    height: 4000px;
    margin-top: 114px;
}

/* header {
    opacity: 20%;
} */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--cor0);
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
}

.nav>h1 {
    margin: 30px;
}


.nav>ul {
    /* display: flex; */
    display: none;
    background-color: var(--cor3);
    /* flex-wrap: wrap; */
}

.nav>ul>li {
    padding: 10px;
    color: var(--cor4);
    list-style-type: none;
}

.nav>ul>li>a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.nav>ul>li>a:hover {
    cursor: pointer;
}

#containerLinhas {
    margin-right: 20px;
}

#linha1,
#linha2,
#linha3 {
    /* position: absolute; */
    transition: 500ms;
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: rgb(0, 0, 0);
}

.openMenu > #linha1 {
    transform: rotate(45deg) translateY(5px);
}

.openMenu > #linha2 {
    /* transition: 1s;
    opacity: 0; */
    display: none;
}

.openMenu > #linha3 {
    transform: rotate(-45deg) translateY(-5px);
}

#columNav {
    transform: translateX(-300px);
    position: fixed;
    width: 40%;
    height: 100%;
    background-color: var(--cor1);
}

@keyframes faded {
    from {
        transform: translateX(-300px);
    } to {
        transform: translateX(0px);
    }
}

@keyframes fadedOut {
    100% {
        transform: translateX(-300px);
    } 0% {
        transform: translateX(0px);
    }
}